<h1>HandsOn</h1>

  <div class="form-group">
    <label for="id">Employee Id</label>
    <input type="text" class="form-control" [(ngModel)]="filterParam"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="filter()">Get Employees</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
            {{ c.title }}
            <i *ngIf="query.sortBy === c.key"
               class="fa"
               [class.fa-sort-asc]="query.isSortAscending"
               [class.fa-sort-desc]="!query.isSortAscending"></i>
          </div>
          <div *ngIf="!c.isSortable">
            {{ c.title }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of queryResult">
        <td>{{ e.id }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.contractTypeName}}</td>
        <td>{{ e.roleId }}</td>
        <td>{{ e.roleName }}</td>
        <td>{{ e.roleDescription }}</td>
        <td>{{ e.hourlySalary }}</td>
        <td>{{ e.monthlySalary }}</td>
        <td>{{ e.annualSalary }}</td>
      </tr>
    </tbody>
  </table>

